<!-- <div class="my-4">
    {{promiseObject}}
</div> -->
<div class="row">
    <div class="col-sm-4" style="background-color:yellow;">
     <h2><strong>Promises</strong></h2>
     <button (click)="fetch1()">Buy Laptop</button>
    </div>
    <div class="col-sm-4" style="background-color:pink;">
       <h2><strong>Async/await</strong></h2> 
        <button  (click)="fetch2()">Buy Laptop</button>
    </div>
    <div class="col-sm-4" style="background-color:rgb(225, 192, 255);">
       <h2><strong>FetchApi</strong></h2> 
        <button  (click)="fetch3()">Buy Laptop</button>
        </div>
  </div>