<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <ul id="videoList"></ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <ul id="videoList1"></ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <ul id="videoList2"></ul>
            </div>
        </div>
    </div>
</div>
hi